*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: url(gato.jpg);
    background-size: cover;
    background-position: center;
}
main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 3255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid#92111130;
    width: 400px;
    height: 550px;
    align-items: center;
    justify-content: space-around;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(159, 15, 175);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font: bold 1.5rem arial;

    margin-bottom: 20px;
}

.input {
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: space-between;
    align-items: center;

}

.input input {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    outline: 2px;
    font: bold 1.5rem arial;
    text-align: center;
    background-color: transparent;

}

.input label {
    font:bold 1.5rem arial;
}
input::placeholder{
    color:rgb(74, 11, 33);
    font-style: italic;
    font-size: 18px;
}

button{
    width: 300px;
    height: 40px;
    font:bold 1.2rem arial;
    background: black;
    color:rgb(255, 0, 217);
    outline:none;
    border-radius:55px;
    cursor: pointer;
    font-weight: bold;
}

.result{
    display:flex;
    margin-top: 20px;
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 55px;
    font:italic 1.0rem arial;
    box-shadow: 0px 0px 10px rgb(rgb(175,8,94), rgb(0,218,76),rgb(0,123,255));
    background-color:rgba(rgb(173, 93, 122),rgb(62,142,62),rgb(85,85,134),0,08);
    color:blueviolet;
    padding: 10px;
    box-sizing: border-box;
    user-select: none;
}